body{
    margin: 0;
    height: 5000px;
    z-index: -100;
}
.h100{
    min-height: 100vh;
}

.h150{
    min-height: 150vh;
}

.h200{
    min-height: 200vh;
}

.h250{
    min-height: 250vh;
}

.h400{
    min-height: 400vh;
}

.bg{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: lighten;
    padding-top: 150px;
}

.bg1{
    height:450px;
    background-image: url('C:Users/mins/Desktop/NewYearWishes/NewYearWishes/sources/taipei101_3-2.jpg');
}

.bg2{
    background-image: url('C:Users/mins/Desktop/NewYearWishes/NewYearWishes/sources/taipei_2.jpg');
}
.z-front{
    z-index: 100;
}
.z-middle{
    z-index: 50;
}
.z-bottom{
    z-index: -1;
}



#y2018, #y2019{
    margin: 0 auto;
    font-size: 100px;
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
    width: 100vw;
    color: white;
}

.word{
    display: inline-block;
    color: white;
}

.word span{
    position: absolute;
    top:125px;
    overflow: hidden;
    animation: animate 3s linear;
    opacity: 0;
}

@keyframes animate{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    2%{
        opacity: 1;
        transform: translateY(0px);
    }
    18%{
        opacity: 1;
        transform: translateY(50px);
    }
    20%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 0;
        transform: translateY(50px);
    }
}

.word span:nth-child(1){
    animation-delay: 0s;
}
.word span:nth-child(2){
    animation-delay: 0.6s;
}
.word span:nth-child(3){
    animation-delay: 1.2s;
}
.word span:nth-child(4){
    animation-delay: 1.8s;
}
.word span:nth-child(5){
    animation-delay: 2.4s;
}
.word span:nth-child(6){
    animation-delay: 3s;
}
.word span:nth-child(7){
    animation-delay: 3.6s;
}
.word span:nth-child(8){
    animation-delay: 4.2s;
}
.word span:nth-child(9){
    animation-delay: 4.8s;
}
.word span:nth-child(10){
    animation-delay: 5.4s;
}
.word span:nth-child(11){
    animation-delay: 6s;
}
.word span:nth-child(12){
    animation-delay: 6.6s;
}

.d-none{
    display: none;
}

.invisible{
    visibility: hidden;
}

body::-webkit-scrollbar {
    display: none;
}